@{
    ViewData["Title"] = "Home Page";
}



<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    <div class="container mt-5 mb-5">
        <a href="/Auth/Login" class="btn btn-secondary">Giriş Yap</a>

    </div>

    <div class="container mt-5 mb-5">
        <a href="/Auth/Register" class="btn btn-primary">Kayıt Ol</a>

    </div>

</div>
