@{
    ViewData["Title"] = "Kayıt Sayfası";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">Kayıt Ol</div>
                <div class="card-body">
                    @if (!string.IsNullOrEmpty(TempData["SuccessMessage"] as string))
                    {
                        <div class="alert alert-success">
                            @TempData["SuccessMessage"]
                        </div>
                    }
                    @if (!string.IsNullOrEmpty(TempData["ErrorMessage"] as string))
                    {
                        <div class="alert alert-danger">
                            @TempData["ErrorMessage"]
                        </div>
                    }
                    <form method="post" action="/Auth/Register">
                        <div class="form-group">
                            <label for="username">Kullanıcı Adı</label>
                            <input type="text" class="form-control" name="UserName" id="username" placeholder="Kullanıcı Adı">
                        </div>
                        <div class="form-group">
                            <label for="email">E-Posta Adresi</label>
                            <input type="email" class="form-control" name="Mail" id="mail" placeholder="E-Posta Adresi">
                        </div>
                        <div class="form-group">
                            <label for="password">Şifre</label>
                            <input type="password" class="form-control" name="Password" id="password" placeholder="Şifre">
                        </div>
                        <button type="submit" class="btn btn-primary">Kayıt Ol</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
